*{
    margin: 0;
    padding: 0;
    font-family: roboto;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
body {
    overflow-x: hidden;
}
.header{
    @media (max-width:376px) {
        display: flex;
        justify-content: space-around;       
    }
    background-color: #162e44;

    &__img{
        top: 10px;
        height: 75px;
        width: 250px;
        @media (max-width:376px) {
            height: 50px;
            width: 175px;
        }
    }
    &__nav{
        display: flex;
        justify-content: space-around;
    }
    &__list{
        display: flex;
        padding: 25px;
        @media (max-width:376px) {
            display: none;
        }
        a{
            color: white;
            font-weight: 500;
            font-size: 16px;
            margin-left: 30px;
        }
        a {
            --primary-color: #111;
            --hovered-color: #008cff;
            position: relative;
            display: flex;
            font-weight: 600;
            font-size: 20px;
            gap: 0.5rem;
            align-items: center;
          }
          
          a::after {
            position: absolute;
            content: "";
            width: 0;
            left: 0;
            bottom: -7px;
            background: var(--hovered-color);
            height: 2px;
            transition: 0.3s ease-out;
          }
          
          
          
          a:hover::after {
            width: 100%;
          }
          
          a:hover p::before {
            width: 100%;

          }
          
    }
    &__title{
        text-align: center;
        font-weight: 400;
        color: white;
        h1{
            font-size: 72px;
            padding-top: 150px;
            font-weight: 400;
            @media (max-width:376px) {
                font-size: 30px;
                font-weight: 600;
            }
        }
        div{
            font-size: 48px;
        }
    }
    &__search{
        margin-top: 100px;
        text-align: center;
        form {
            position: relative;
            width: 300px;
            margin: 0 auto;

        }
        input {
            width: 800px;
            height: 75px;
            padding-left: 10px;
            border: 1px solid #000000;
            border-radius: 5px;
            outline: none;
            background: #ffffff;
            color: #000000;
            font-size: 24px;
            @media (max-width:376px) {
                width: 350px
            }
        }
        button {
            width: 75px;
            height: 75px;
            border: none;
            background: #512e6d;
            border-radius: 10px;
            cursor: pointer;
            img{
                height: 20px;
                width: 20px;
            }
        }
        button:hover{
            background: #9761c4;
            transition: all 0.3s;
        }
        button:before {
            content: "";
            font-size: 20px;
            color: #F9F0DA;
        }
    }
}
.menu-item{
    font-size: 16px;
    color: #000;
    padding-left: 10px;
}
.menu-item:hover{
    color: #008cff;
    
}
.burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  
.burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
}
.burger::before,
.burger::after {
content: '';
    left: 5px;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #EAEAEA;
}
.burger::before {
    top: 0;
    box-shadow: 0 11px 0 #EAEAEA;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}
.menu-list {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 36px;
    margin: 0;
    background: #EAEAEA;
    list-style-type: none;
    transform: translateX(-100%);
    transition: .3s;
    width: 200px;
}

.burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
}
.menu{
    display: none;
    @media (max-width:376px) {
        display: block;
        padding-top: 10px;
    }
}
.populyar{
    &__title{
        font-size: 46px;
        text-align: center;
        padding: 30px;
        color: white;
        font-weight: 600;
        @media (max-width:376px) {
            font-size: 25px;
        }
    }
}
.map{
    margin-top: 50px;
    h2{
        color: #000;
    }
    div{
        display: flex;
        justify-content: center;
    }
}
.about{
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    &__main{
        border: 1px solid #e1e1e1;
        width: 230px;
        padding: 100px;
        margin-top: 100px;
        transition: all 0.5s;
        div{
            text-align: center;
            div{
                p{
                    font-size: 24px;
                    transition: all 0.5s;
                    cursor: pointer;
                }
                p:hover{
                    color: #01b3a7;
                }
            }
        }
    }
    &__main:hover{
        -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        
    }

}

.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    button{
        padding: 40px 100px;
        border-radius: 24px;
        background-color: #fff;
        font-size: 36px;
        transition: all 0.5s; 
    }
    button:hover{
        background-color: #01b3a7;
        border: 0px;
        color: #fff;
    }
}
.animate_title{
    transform: translateX(50%);
    transition: all 2s;
    opacity: 0;
}
.animate_title.active{
    transform: translateX(0);
    opacity: 1;
}
.animate_img{
    transform: translateX(-50%);
    transition: all 1.5s;
    opacity: 0;
}
.animate_img.active{
    transform: translateX(0);
    opacity: 1;  
}
.animate_text{
    transform: translateY(50%);
    transition: all 2s;
    opacity: 0;
}
.animate_text.active{
    transform: translateY(0);
    opacity: 1;
}
.animate_h1{
    transform: translateX(-20%);
    transition: all 2s;
    opacity: 0;
}
.animate_h1.active{
    transform: translateX(0%);
    opacity: 1;
}
.animate_text_two{
    transform: translateX(20%);
    transition: all 2s;
    opacity: 0;
}
.animate_text_two.active{
    transform: translateX(0%);
    opacity: 1;
}
.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal__content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 350px; 
    height: 400px;
    
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.obratnuj__zvonok{
	width:100%;
	max-width:350px;
}
.form__zvonok{
	width:100%;
	display:flex;
	flex-direction:column;
	padding:0 20px;
	box-sizing:border-box;
}
.form__zvonok div{
	padding:15px 0;
}
.send__mail{
	box-sizing:border-box;
	width:100%;
}
.form__zvonok label,.form__zvonok input{
    display:block;
    width:100%;
    box-sizing:border-box;
}
.form__zvonok label{
	margin-bottom:5px;
	font-weight:bold;
}
.form__zvonok input{
	padding:10px 15px;
	margin-top:10px;
}
.form__zvonok label span{
	color:red;
}
.form__zvonok .send__mail{
	padding:15px;
	margin-top:10px;
    background:none;
    border:none;
    text-transform:uppercase;
    color:#fff;
	font-weight:bold;
	background-color:#009b97;
	cursor:pointer;
	border:3px #009b97 solid;
	border-radius:5px;
    transition: all 0.5s;
}
.send__mail:hover{
	color:#009b97;
	background-color:#fff;
}
.footer{
    margin-top: 100px;
    background-color: #162e44;
    height: 50vh;
    color: #fff;
    display: flex;
    justify-content: center;
    @media (max-width:376px) {
        display: block;
        height: 100%;       
    }
    &__title1{
        font-size: 24px;
        padding-bottom: 20px;
    
    }
    &__title2{
        font-size: 24px;
        margin-bottom: 71px;
        margin-right: 100px;
        a{
            color: white;
        }
        @media (max-width:376px) {
            margin-bottom: 0;
        }

    }
    &__title3{
        margin-bottom: 71px;
        font-size: 24px;
        @media (max-width:376px) {
            margin-bottom: 0;
        }
    }
    &__text{
        font-size: 16px;
        display: flex;
        padding-top: 20px;
        transition: all 0.3s ease;
        @media (max-width:376px) {
            display: flex;
            width: 300px;
        }
        p{
            padding: 5px 20px;
            @media (max-width:376px) {
                width: 200px;
            }
        }
    }
    ul{
        width: 500px;
        @media (max-width:376px) {
            padding: 20px 0px;
        }
    }
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 300px;
        @media (max-width:376px) {
            margin-left: 0;
            display: block;
            padding: 30px 20px;
        }
    }
    &__nav{
        color: white;
        font-size: 16px;
        transition: all 0.3s ease;
        padding-top: 17px;
        
    }
    &__nav:hover{
        color: #01b3a7;
    }
    &__text:hover{
        color: #01b3a7;
    }
    &__text1{
        padding-top: 0;
    }
}
.animate_a{
    transform: translateY(-50%);
    transition: all 1s;
    opacity: 0;
}
.animate_a.active{
    transform: translateX(0%);
    opacity: 1;
}