* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  overflow-x: hidden;

}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.main__section {
  background: url(../img/polo-photoaidcom-darken.jpg) no-repeat center center/cover;
  height: 60vh;
}

.header {
  background-color: #162e44;
}
@media (max-width: 376px) {
  .header {
    display: flex;
    justify-content: space-around;
  }
}
.header__img {
  top: 10px;
  height: 75px;
  width: 250px;
}
@media (max-width: 376px) {
  .header__img {
    height: 50px;
    width: 175px;
  }
}
.header__nav {
  display: flex;
  justify-content: space-around;
}
.header__list {
  display: flex;
  padding: 25px;
}
@media (max-width: 376px) {
  .header__list {
    display: none;
  }
}
.header__list a {
  color: white;
  font-weight: 500;
  font-size: 16px;
  margin-left: 30px;
}
.header__list a {
  --primary-color: #111;
  --hovered-color: #008cff;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}
.header__list a::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}
.header__list a:hover::after {
  width: 100%;
}
.header__list a:hover p::before {
  width: 100%;
}
.header__title {
  text-align: center;
  font-weight: 400;
  color: white;
}
.header__title h1 {
  font-size: 72px;
  padding-top: 150px;
  font-weight: 400;
}
@media (max-width: 376px) {
  .header__title h1 {
    font-size: 30px;
    font-weight: 600;
  }
}
.header__title div {
  font-size: 48px;
}
.header__search {
  margin-top: 100px;
  text-align: center;
}
.header__search form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.header__search input {
  width: 800px;
  height: 75px;
  padding-left: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  outline: none;
  background: #ffffff;
  color: #000000;
  font-size: 24px;
}
@media (max-width: 376px) {
  .header__search input {
    width: 350px;
  }
}
.header__search button {
  width: 75px;
  height: 75px;
  border: none;
  background: #512e6d;
  border-radius: 10px;
  cursor: pointer;
}
.header__search button img {
  height: 20px;
  width: 20px;
}
.header__search button:hover {
  background: #9761c4;
  transition: all 0.3s;
}
.header__search button:before {
  content: "";
  font-size: 20px;
  color: #F9F0DA;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}

.burger::before,
.burger::after {
  content: "";
  left: 5px;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #EAEAEA;
}

.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #EAEAEA;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}

.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}

.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}

.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}

.menu-list {
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 36px;
  margin: 0;
  background: #EAEAEA;
  list-style-type: none;
  transform: translateX(-100%);
  transition: 0.3s;
  width: 200px;
}

.menu-item:hover {
  color: #008cff;
}

.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}

.menu {
  display: none;
}
@media (max-width: 376px) {
  .menu {
    display: block;
    padding-top: 10px;
  }
}

.populyar__title {
  font-size: 46px;
  text-align: center;
  padding: 30px;
  color: white;
  font-weight: 600;
}
@media (max-width: 376px) {
  .populyar__title {
    font-size: 25px;
  }
}

.menu-item {
  font-size: 16px;
  color: #000;
  padding-left: 10px;
}

.info__main {
  display: flex;
}
@media (max-width: 376px) {
  .info__main {
    display: block;
    margin-top: 50px;
  }
}
.info h2 {
  color: #000000;
}
.info__img {
  padding: 100px 0px 100px 200px;
  opacity: 1;
  transform: translateX(-10%);
  transition: all 1s ease-out;
}
@media (max-width: 376px) {
  .info__img {
    padding: 0 0px;
    height: 300px;
    width: 415px;
  }
}
.info__img:active {
  opacity: 4;
  transform: translateX(0%);
}
.info__box {
  padding: 100px 0px 100px 150px;
  max-width: 750px;
}
@media (max-width: 376px) {
  .info__box {
    padding: 0px 60px;
  }
}
.info__title {
  padding-top: 30px;
  font-size: 36px;
  font-weight: 600;
}
@media (max-width: 376px) {
  .info__title {
    font-size: 30px;
  }
}
.info__text {
  padding: 50px 0 0 0;
  font-size: 24px;
  font-weight: 300;
}
@media (max-width: 376px) {
  .info__text {
    font-size: 20px;
  }
}
.info__btn {
  padding: 30px 50px;
  font-size: 30px;
  margin-top: 50px;
  border: 0;
  background: #59cab0;
  color: white;
  transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
}
@media (max-width: 376px) {
  .info__btn {
    padding: 10px 30px;
  }
}
.info__btn a {
  color: #000000;
}
.info__btn:hover {
  border: 4px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  background-color: white;
  color: #000000;
}
.info__mini-box {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 376px) {
  .info__mini-box {
    display: block;
  }
}

.animate_title {
  transform: translateX(50%);
  transition: all 2s;
  opacity: 0;
}
@media (max-width: 376px) {
  .animate_title {
    display: none;
  }
}

.animate_title {
  transform: translateX(50%);
  transition: all 2s;
  opacity: 0;
  @media (max-width:376px) {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animate_title.active {
  transform: translateX(0);
  opacity: 1;
}

.animate_img {
  transform: translateX(-50%);
  transition: all 1.5s;
  opacity: 0;
  @media (max-width:376px) {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animate_img.active {
  transform: translateX(0);
  opacity: 1;
}

.animate_text {
  transform: translateY(50%);
  transition: all 2s;
  opacity: 0;
  @media (max-width:376px) {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animate_text.active {
  transform: translateY(0);
  opacity: 1;
}

.animate_h1 {
  transform: translateX(-20%);
  transition: all 2s;
  opacity: 0;
  @media (max-width:376px) {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animate_h1.active {
  transform: translateX(0%);
  opacity: 1;
}

.animate_text_two {
  transform: translateX(20%);
  transition: all 2s;
  opacity: 0;
  @media (max-width:376px) {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animate_text_two.active {
  transform: translateX(0%);
  opacity: 1;
  
}

.footer {
  margin-top: 100px;
  background-color: #162e44;
  height: 50vh;
  color: #fff;
  display: flex;
  justify-content: center;
}
@media (max-width: 376px) {
  .footer {
    display: block;
    height: 100%;
  }
}
.footer__title1 {
  font-size: 24px;
  padding-bottom: 20px;
}
.footer__title2 {
  font-size: 24px;
  margin-bottom: 71px;
  margin-right: 100px;
}
@media (max-width: 376px) {
  .footer__title2 {
    margin-bottom: 0;
  }
}
.footer__title2 a {
  color: white;
}
.footer__title3 {
  margin-bottom: 71px;
  font-size: 24px;
}
@media (max-width: 376px) {
  .footer__title3 {
    margin-bottom: 0;
  }
}
.footer__text {
  font-size: 16px;
  display: flex;
  padding-top: 20px;
  transition: all 0.3s ease;
}
@media (max-width: 376px) {
  .footer__text {
    display: flex;
    width: 300px;
  }
}
.footer__text p {
  padding: 5px 20px;
}
@media (max-width: 376px) {
  .footer__text p {
    width: 200px;
  }
}
.footer ul {
  width: 350px;
}
@media (max-width: 376px) {
  .footer ul {
    padding: 20px 0px;
  }
}
.footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
}
@media (max-width: 376px) {
  .footer div {
    margin-left: 0;
    display: block;
    padding: 30px 20px;
  }
}
.footer__nav {
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;
  padding-top: 17px;
}
.footer__nav:hover {
  color: #01b3a7;
}
.footer__text:hover {
  color: #01b3a7;
}
.footer__text1 {
  padding-top: 0;
}

.animate_a {
  transform: translateY(-50%);
  transition: all 1s;
  opacity: 0;
  @media (max-width:376px) {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animate_a.active {
  transform: translateX(0%);
  opacity: 1;

}